

body {
    background:rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

span {
    height: 47px;
    width: 47px;
    border-bottom: dotted 3px black;
    border-right: dotted 3px black;
    font-size: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 400px;
    height: 400px;
    border-top: 6px solid grey;
    border-left: 6px solid grey;
    border-right: 6px solid whitesmoke;
    border-bottom: 6px solid whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

div {
    border: 8px solid rgb(158, 158, 158);
}

img {
    height: 30px;
}

.case {
    border-right: black 3px solid;
    border-bottom: black 3px solid;
    height: 47px;
    width: 47px;
    box-shadow: inset 3px 3px whitesmoke;
}

.blue{
    color: rgb(52, 52, 134);
}

.green{
    color: green;
}

.red{
    color: red;
}